.sports-peer-preferences-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  animation: fadeIn 0.8s ease-in-out;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input,
select,
button {
  width: 93%;
  padding: 10px;
  border: 1px solid #3498db;
  border-radius: 4px;
  font-size: 1rem;
  margin-bottom: 1px;
}

button {
  background-color: #27ae60;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: white;
}

/* Add fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
